body{
    font-family: Arial;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
    margin: 0px;
    padding: 0px;
}

header{
    background-color: #003366;
    color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding: 1.5em;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-link{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.skip-link{
    position: absolute;
    top: -40px;
    background-color: #000;
    color: #fff;
}

.skip-link:focus{
    top: 0;
}